.start-page-wrapper {
  background-image: url('../../Images/destination4.jpeg');
  min-height: 100vh; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-page-wrapper > a {
  margin-top: 50px;
}
.start-page-wrapper .getstarted_btn {
  width: 100%;
  min-width: 200px;
}
.header_title {
  color: white;
  font-size: 20px;
}
.header_subtitle {
  color: white;
  font-size: 15px;
  padding-top: 10px;
}
.display {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.circular-design {
  width: 25px;
  padding: 10px;
  background-color: red;
  border-radius: 30px;  
  margin-left: 5px;
}
