.clr-black {
  color: black;
}
.hotel-list-header {
  color: white;
  font-size: 20px;
}
.header-flex-display {
  display: flex;
  align-items: baseline;
}
.popular-destination-wrapper .header-flex-display {
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: space-around;
}
.popular-destination-wrapper .header-flex-display > div img{
  min-height: 170px;
}
.popular-destination-wrapper .header-flex-display > div img:first-child {
  margin-right: 10px;
}
.space-arnd {
  justify-content: space-around;
  margin: 0px 10px 0px 10px;
  margin-top: 25px;
}
.space-arnd > div:first-child {
  margin-right: 10px;
}
.space-arnd > div, .holiday-wrapper {
  position: relative;
}
.holiday-wrapper {
  margin: 10px;
}
.holiday-wrapper img, .header-flex-display img {
  width: 100%;
}
.flex-items {
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  align-items: center;
}
.search-text {
  width: 200px;
}
.search-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.search-wrapper a {
  margin: 12px 5px;
}
.search-text {
  height: 30px;
  border-radius: 30px;
  margin: 10px 0;
  outline: none;
  border: 1px solid gray;
  font-size: 14px;
  padding: 5px 10px;
}
.img-header {
  text-align: left;
  padding: 15px;
  color: gray;
  font-size: 15px;
}
.destination-img1 {
  width: 168px;
  height: 170px;
  margin-right: 25px;
}
.destination-img2 {
  width: 168px;
  height: 170px;
}
.holiday-img-text {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 10px;
}
.world-img-text {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 5px;
}
.bestplace-img-text {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 5px;
}
.image-slider > div {
  width: 100% !important;
}
