.payment-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:gray;
  font-size:13px;
  text-align: left;
  padding:10px;
  border-bottom:1px solid #D8D8D8;
}
.bg-clr{
  background-color: white;
}
.text-display{
  display: flex;
  align-items: center;
}
.journey-content-display {
 border-bottom: 1px solid #D8D8D8;
 padding: 15px;
 font-size: 13px;
}
.clr-gray{
  color:gray;
}
.space-even {
  justify-content: space-evenly;
}
.space-betwn {
  justify-content: space-between;
}
.payment-type {
  background-color: white;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #D8D8D8;
}
.font-size{
  font-size: 13px;
}
.payment-cards{
  background-color: white;
  padding:15px;
}
.bottom-border{
  border-bottom: 1px solid #D8D8D8;
}
.pay-btn{
  background-color:#45A7B7;
  width:95%;
  position: absolute;
  bottom:0;
  left:10px;
  color: white;
}